:root {
    --khaki: #EAE5E1;
    --pewter: #F9F9FB;
    --blush: #E7DCDA;
   --dusty-rose: #BC8880;
   --rose: #945055;
    --cognac: #98806B;
    --gray: #3E3E40;
}

*{
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color: var(--pewter);
    color: var(--gray);
}

header h1 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

nav {
    padding-bottom: 10px;
    font-size: 1.75rem;
    width: 100%;
}

.nav-container {
    width: 100%;
    justify-content: space-evenly;
}


.book-online {
    border-radius: 15px;
    width: 200px;
    font-size: 1.40rem;
    background-color: var(--blush);
    border: 1px solid var(--blush);
    display: flex;
    justify-content: center;
}

.book-online a {
    color: var(--gray);
    text-decoration: none;
    margin-top: 2px;
}

.book-online:hover {
    opacity: 80%;
    color: var(--cognac);
    cursor: pointer;
}

.book-online-icon {
    width: 25px;
    margin-left: 10px;
    margin-top: 2px;
    fill: var(--cognac)
}


a.nav-link:hover {
    color: var(--rose);
    cursor: pointer;
}

a.nav-link:active {
    opacity: 80%;
}

.announcement {
    background-color: var(--blush);
    text-align: center;
    padding-top: 15px;
    font-size: 1.25rem;
}


@media screen and (max-width: 700px){
    .announcement p {
        font-size: 1rem;
    }

    .book-online {
        margin: auto;
    }
}