.section-two-services{
    background-color: var(--blush);
}

.services-two-header, .services-three-header {
    color: var(--dusty-rose);
    text-align: center;
    padding: 40px;
    font-size: 3.5rem;
}

.service-makeup-container, .service-hair-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
}

.service-images {
    width: 35%;
}

.service-images img {
    width: 100%;
    outline: 2px solid white;
    outline-offset: -10px;
}

.service-details {
    width: 60%;
    margin-bottom: 5px;
}

.cursive {
    font-family: 'Petit Formal Script', cursive;
}

.service-hair-details {
    width: 40%;
}

.hair-service-details p {
    font-size: 1.5rem;
}

.service-details p, .service-details ul, 
.service-hair-details p, .service-hair-details ul {
    font-size: 1.25rem;
}

.section-three-services {
    background-color: var(--pewter);
}



/* Media Queries */
@media screen and (max-width: 770px){
    .service-makeup-container{
        flex-direction: column;
    }

    .service-hair-container {
        flex-direction: column-reverse;
    }

    .service-images {
        width: 70%;
        margin-bottom: 20px;
    }

    .service-details, .service-hair-details {
        width: 90%;
        margin-bottom: 5px;
        text-align: center;
    }

    .service-hair-details p {
        font-size: 1.25rem;
    }
}